{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}有点东西</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base1.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block head %}{% endblock %}
<script>
function check(str){
            var xmlHttp;
            var url = "/check_name?username=" + str;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function(){
                if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                    document.getElementById("tip").innerHTML = xmlHttp.responseText;
                    console.log(xmlHttp.responseText);
                }
            }
            xmlHttp.open("GET",url,true);
            xmlHttp.send(null);
        }
function check1(str){
            var xmlHttp;
            var url = "/check_email?email=" + str;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function(){
                if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                    document.getElementById("tip1").innerHTML = xmlHttp.responseText;
                    console.log(xmlHttp.responseText);
                }
            }
            xmlHttp.open("GET",url,true);
            xmlHttp.send(null);
        }
function check2(str){
            var xmlHttp;
            var url = "/check_name1?username=" + str;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function(){
                if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                    document.getElementById("tip2").innerHTML = xmlHttp.responseText;
                    console.log(xmlHttp.responseText);
                }
            }
            xmlHttp.open("GET",url,true);
            xmlHttp.send(null);
        }
function check3(str){
            var xmlHttp;
            var url = "/check_name1?username=" + str;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function(){
                if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                    document.getElementById("tip3").innerHTML = xmlHttp.responseText;
                    console.log(xmlHttp.responseText);
                }
            }
            xmlHttp.open("GET",url,true);
            xmlHttp.send(null);
        }

function validate() {
      
    var pwd = $("#password1").val();
    var pwd1 = $("#password2").val();
    console.log(pwd+"-"+pwd1);
    if(pwd == pwd1)
     {
        $("#tishi").html("password ok");
         $("#tishi").css("color","green");
    $("#xiugai").removeAttr("disabled");
    return true;
     }
else {
        $("#tishi").html("password not same");
         $("#tishi").css("color","red")
          $("button").attr("disabled","disabled");  
          return false;
      }
}

    function checkLoginPassword(str){
        var xmlHttp;
        var username = document.getElementById("username1").value;
        var url = "/check_pass?password=" + str + "&username=" + username;
        console.log(url);
        xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function(){
            if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                document.getElementById("tipPass").innerHTML = xmlHttp.responseText;
                console.log(xmlHttp.responseText);
            }
        }
        xmlHttp.open("GET",url,true);
        xmlHttp.send(null);
    }

    function submitform(){
        var tip = document.getElementById("tip2").innerHTML;
        var tips = tip.substr(tip.length-17, 9);
        var tipPassword = document.getElementById("tipPass").innerHTML;
        var tipPass1 = tipPassword.substr(1, 3);
        console.log(tipPass1);
        var bool2 = (tipPass1 == "suc");
        var bool1 = (tips == "available");
        if(bool1 && bool2){
            return true;
        }else{
            alert("用户名与密码不匹配");
            return false;
        }
    }
window.onload=function(){
$("#messages").slideDown();
}

function close_message()
{
    $("#messages").slideUp();
}

</script>
</head>
{% block bodyonload %}<body>{% endblock %}
<div style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;position:relative;filter: alpha(opacity=100);">
  <!-- <img src="static/img/banner.jpg" style="position:absolute;margin: 0px;padding: 0px;border:none;max-height: none;max-width: none;top: 0px;z-index: -999999" > -->

<!--<nav class="navbar navbar-default">

    <div class="navbar-header"  style="filter: alpha(opacity=100);">
        <a class="navbar-brand" id="header-img" href="#"></a>
        <div class="brand-name"><a href="#">有点东西</a></div>
    </div>
    {%block tabmenu%}
    <ul class="tabmenu">
        {% block navbar0 %}
            <li><a href="{% url 'index' %}">主页</a></li>
            <li><a href="{% url 'market_index' %}">商城</a></li>
            <li><a href="/chat">社区</a></li>
            <li><a href="/share">共享文件</a></li>
        {% endblock %}
    </ul>
    {%endblock%}
    <div class="spacer">
        <form action="#" id="search">
        {% csrf_token %}
            <div class="input-group">
            <input type="text" class="form-control" placeholder="搜索">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
    <div id="refresh-nav">
      <div class="header-bottom-right" id="header-bottom-right">
          {% if request.session.username %}
              <span><a href="#">{{ request.session.username }}</a>|<a href="{%url 'notify'%}">消息<span class="badge">{{lang}}</span></a>|<a href="/logout/">退出</a></span>
          {% else %}
              <span>想加入讨论? 立即<a href="#" data-toggle="modal" data-target="#myModal">注册</a>
              或<a href="#" data-toggle="modal" data-target="#myModal1">登录</a>

              </span>
          {% endif %}
      </div>
    </div>

</nav>-->


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header"  style="filter: alpha(opacity=100);margin-top: 0;">
        <a class="navbar-brand" id="header-img" href="#" style="margin-top: 8px;"></a>
        <a href="/" class="navbar-brand">有点东西</a>
    </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% block navbar %}
        <li class="active"><a href="{% url 'index' %}">主页 <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'market_index' %}">商城</a></li>
        <li><a href="/chat">社区</a></li>
        <li><a href="/share">资源共享</a></li>
        {% endblock %}
      </ul>
    　　
      <ul class="nav navbar-nav navbar-right">
      {% if not request.session.username %}

        <li><a href="#" data-toggle="modal" data-target="#myModal1"><div id="header-bottom-right">
      <div id="rec">登录</div></div></a></li> 
        <li><a href="#" data-toggle="modal" data-target="#myModal">注册</a></li>   

      {% else %}

        <li><a href="{% url 'notify' %}"><div id="header-bottom-right">
      <div id="rec">消息<span class="badge">{{lang}}</span></div>
      </div></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.session.username}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout'%}">退出登录</a></li>
          </ul>
        </li>
      {% endif %}</ul>
      <form class="navbar-form navbar-right" style="margin-right: 50px;" action="/search/" method="get">
        <div class="form-group">
          <input type="text" name="kw" class="form-control" placeholder="">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




{% if messages %}
<ul class="messages" id="messages" style="margin-bottom: 0;display:none;">
    {% for message in messages %}
    <li{%if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type:none;"><div
    style="margin-bottom: 0"
    {% if message.tags == 'info' %}
    class="alert alert-info"
    {% elif message.tags == 'success' %}
    class="alert alert-success"
    {% elif message.tags == 'warning' %}
    class="alert alert-warning"
    {% elif message.tags == 'error' %}
    class="alert alert-danger"
    {% else %}
    class="alert alert-success"
    {% endif %} class="alert-dismissable" onclick="close_message()">
  <button type="button" class="close"  onclick="close_message()">
                &times;</button>
        <strong>{{message}}</strong> 
</div></li>
    {%endfor %}
</ul>
{% endif %}



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label>注册</label> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                 <!--这里显示错误信息-->

                </h4>
            </div>
            <div class="login-form" style="background-image: url(/static/img/bbb.jpg);">
            <div class="top-login">
                    <span><img src="/static/img/logo.png" alt=""/></span>
            </div>
            <div class="login_log">
            </div>
            <br>
            <div class="login-top">
            <form  action='/register/' method='post' onsubmit="return validate();">
                {%csrf_token%}
                <div class="login-ic">
                    <i ></i>
                    <input type="text" id="username" name="username" placeholder="请输入用户名" onFocus="this.value = '';" onBlur="check(this.value)"
                    required oninvalid="setCustomValidity('用户名不能为空')" oninput="setCustomValidity('')"/>
                <div class="clear"> </div>
                <div id="tip" style="float:center;"></div>
                </div>
                  <div class="login-ic">
                    <i class="icon1"></i>
                    <input type="email"  name="email" placeholder="请输入电子邮箱" onFocus="this.value = '';" onBlur="check1(this.value) "required oninvalid="setCustomValidity('请输入正确的邮箱格式')" oninput="setCustomValidity('')"/>
                <div class="clear"> </div>
                <div id="tip1" style="float:center;"></div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password" id="password1" name="password1" placeholder="请输入密码" onFocus="this.value = '';" onBlur="if (this.value == '') " onchange="checkPassword()" required="required"/>
                    <div class="clear"> </div>
                    
                </div>
                 <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password" id="password2" name="password2" placeholder="请再次确认" onFocus="this.value = '';" onkeyup="validate()" required="required"/>
                    
                    <div class="clear"> </div>
                   <span id="tishi"></span>
                </div>
            
                <div class="log-bwn">
                    <input type="submit"  value="Register" >
     
                </div>
                </form>
            </div>
                 <p class="copy"> 注册即表示您同意
                         ? 2018 STC-NWSAUF　有点东西平台</p>
            </div>  
</div>    

        </div>
  
</div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <label>登录</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                 <!--这里显示错误信息-->

                </h4>
            </div>
<div class="login-form" class='back' style="background-image: url(/static/img/bbb.jpg);">
    <div class="top-login">

                    <span><img src="/static/img/logo.png" alt=""/></span>
    </div>
            <div class="login_log">
            </div>
            <br>
            <div class="login-top">
            <form  action='/login/'  method='post' name='myForm'>
                {%csrf_token%}
                <div class="login-ic">
                    <i ></i>
                    <input type="text" id="username1" name="username" placeholder="请输入用户名" onFocus="this.value = '';" onBlur="check2(this.value)"
                    required oninvalid="setCustomValidity('用户名不能为空')" oninput="setCustomValidity('')"/>
                <div class="clear"> </div>
                <div id="tip2" style="float:center;"></div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password"  id="password" name="password" placeholder="请输入密码"  onFocus="this.value = '';" required ="required" onBlur="checkLoginPassword(this.value) " onchange="" />
                    
                    <div class="clear"> </div>
                    <div id="tipPass" style="display:none" > </div>
                </div>
                <div class="copy">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="rem" type="checkbox" name="rem" id="rem-login-main">
                <label for="rem-login-main" class="text-muted">记住我</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="copy1" class="text-muted" href="#" data-toggle="modal" data-target="#myModal2">忘记密码</a>
            </div>
                <div class="log-bwn">
                    <input type="submit" value="Login" onclick="return submitform();" >
                </div>
                </form>
            </div>
            <p class="copy"> 欢迎您加入我们<br>? 2018 STC-NWSAUF　有点东西平台</p>

        </div>  
</div>    

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>           
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label>找回密码</label> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                 <!--这里显示错误信息-->

                </h4>
            </div>
            <div class="login-form" style="background-image: url(/static/img/bbb.jpg);">
            <div class="top-login">
                    <span><img src="/static/img/logo.png" alt=""/></span>
            </div>
            <div class="login_log">
            </div>
            <br>
            <div class="login-top">

            <form  action='/reset/' name="form1" method='POST' ">
                {%csrf_token%}
                <div class="login-ic">
                    <i ></i>
                    <input type="text" id="username" required oninvalid="setCustomValidity('用户名不能为空')" oninput="setCustomValidity('')"  name="username" placeholder="请输入用户名" onFocus="this.value = '';" onBlur="check3(this.value)"/>
                <div class="clear"> </div>
                <div id="tip3" style="float:center;"></div>
                </div>           
                <div class="log-bwn">
                    <input type="submit"  value="下一步"  onclick="check(this.form)"/>
                </div>
                </form>
            </div>
                 <p class="copy"> 找回密码
                         © 2018 STC-NWSAUF　有点东西平台</p>

            </div>  
</div>    

        </div>
  
</div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<div class="content" id="content" style="filter: alpha(opacity=100);">
{% block body %}

{% endblock %}

</div>
</div>

{% block bottom %}

{% endblock %}



</body>
</html>