
#main{
    clear:both;
    float: left;
    width:95%;
    height: 1200px;
    background:url(/static/img/abg.jpg) no-repeat;
    background-size: 100% 145px;
    background-color: #f3f3f3;
}

.body1{
    width:750px;
}



#top{
    clear: both;
    height: 50px;
    margin-top: 100px;
    margin-left:200px;
}

#middle{
    margin-bottom: 30px;
    margin-left:200px;
}

#bottom{
    margin-left:200px;
    height: auto;
    margin-top: 40px;
}

#name{
    font-size: 22px;
    color: #f2f;
    margin: 5px 0 10px 0;
}
#time{
    font-size: 16px;
    color: #888;
    margin-top: 20px;
}


#lab{
    width:50px;
    font-size: 16px;
    color: #0084ff;
    background-color: #d9edff; 
    text-align:center;
    margin-bottom: 10px;
}

#cont{
    background-color: #f6f6f6;
    border-radius: 20px;
}

#rev{
    color: #605760;
    font-size: 23px;
    margin-bottom: 7px;
}

#review{
    width: 750px;
    height: auto;
}

#revi{
    clear: both;
    width: 750px;
    height: auto;
}

#con{
    margin-left: 65px;
    background-color: #f6f6f6;
}


#at{
    font-size: 30px;
}

.r1{
    float: left;
    width: 750px;
}

#listr{
    clear: both;  
}

#rl{
    width: 50%;
}

#rr{
    width: auto;  
}

#wr{
    font-size: 18px;
}
#wr:hover{
    font-size: 20px;
}
a:hover {font-size: 18px;}

#like{
    margin-bottom: 15px;
    margin-left: 200px;
}

#write{
    height: 24px;
    width: 24px;
}

#le{
    float: left;
    width: 13%;
}

#ri{
    float: left;
    width: 87%;
}