/*share_index.css*/

table{
        border:none;   <!-- 边框 -->
        margin:none;     <!-- 外边距 -->
        line-height:20px;     <!-- 行高-->
        padding:0px;               <!-- 内边距-->
}
a:hover {text-transform:uppercase;font-size: 20px;}

.sidebtn
{
    width:100%;
    margin-top: 5px;
}
.buju{
    height: 90%;
}
.content{
    height: 800px;
    background-color: rgba(255,255,255,0);

}
.side{
    background-color: rgba(255,255,255,0);
}

.pagination{
    margin:0px,auto !important;
}
.embed {
    width: 300px;
    margin: auto;
    position: relative;
}
.pageJeep {
    float: left;
    width: 100%;
    height: 50px;
    padding-bottom: 20px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 40px;
}
h3{
    font-size: 30px !important;
}
.detail{
    margin-left: 550px;
    margin-right: 300px;
    align-self: center;

}