/*upload.css*/
li{
    list-style: none;

}
a:hover {text-transform:uppercase;font-size: 20px;}
.beijing{
    background: url(/static/img/wen.jpg);
}
.indiv{

    width:500px;
    padding: 20px;
}
#outdiv{
    margin: 0 auto;
    width: 100%;
    
}
span{
    font-size: 20px;
}

input,select{
    width:200px;
}
.content{
    height: 800px;
}
.upload{
    position: relative;
    left:30%;
    top:20%;
}
