/*upload.css*/
li{
    list-style: none;

}

.indiv{

    width:500px;
    padding: 20px;
}
#outdiv{
    margin: 0 auto;
    width: 100%;
    
}
span{
    font-size: 20px;
}

input,select{
    width:200px;
}
.content{
    height: 800px;
    background: url(/static/img/ppt.jpg)no-repeat;
}
.upload{
    position: relative;
    left:30%;
    top:20%;
}
