body{
}
.glyphicon {font-family: 'Glyphicons Halflings' !important;}
.logo{
    height:50px;
}
.side{
    float:right;
    width:300px;
    min-height:500px;
    border:0px solid;
    background-color: white;
    margin-right: 10px;
    margin-top: 0px !important;
    background-color: rgba(255,255,255,0);
}
.content{
    margin:5px 5px;
    height: 500px;

    width :auto;
    margin:0 auto;
    overflow:hidden;
    border:0px solid;
    z-index: 1;
    /*opacity:70;*/
    /*filter: alpha(opacity=70)*/
    background-color: rgba(255,255,255,0)!important;
    /*background-color: rgba(0,0,0,0.0);*/
}
#header-img {
    background-image: url(../img/logo.png);
    background-size: 100%;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-top: 15px;
    overflow: visible;
    padding: 0;
}
.brand-name{
    width:100px;
    margin-left:60px;
    font-size:22px;
    color: #141414;
    font-weight:200;
    margin-top: 10px;
}
.brand-name a{
    text-decoration:none;
    color:black;
}
.navbar
{
    border-bottom:1px solid #7c9db9;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default{
    background-color: a1bcbf !important;
}
.navbar-header{
    line-height:50px;
    height: 50px;
    position: relative;

}
.tabmenu{
    list-style: none;
    display: inline-block;
    padding-left: 15px;
    height:30px;
    margin-bottom: 0;
    margin-top: 30px;
}
.tabmenu li{
    display:inline;
    font-weight: bold;
    margin: 0 3px;


}

.tabmenu li a{
    padding: 3px 10px 4px 10px;
    background-color: #eff7ff;
    text-decoration:none;
    font-size:20px;

    border-top-right-radius: 6px; 
    border-top-left-radius: 6px;

}
a {
    text-decoration: none;
    color: #369;
}
li.selected a {
    color: orangered;
    background-color: white;
    border: 1px solid #5f99cf;
    border-bottom: 1px solid white;
    z-index: 100;
    padding: 3px 10px 4px 10px;

}

.header-bottom-right{
    float:right;
    position: absolute;
    bottom:0;
    right:0;
    background-color: #EFF7FF;
    border-top-left-radius: 7px;
    font-size: 16px;
    padding: 2px 2px 1px 5px;
    color:gray;
}

.side{
    color: black;
    margin-top:5px;
}
.container{
    width:100%;
    background-color: rgba(0,0,0,0.1);
}
.content {
    margin: 5px 310px 0px 5px;
    background-color: #fff;
}
.topic-title{
    font-size: 20px;
    margin:0;
}
.topic-group{
    margin:20px;
}
.login-form-side .user{
    width:140px;
    //border:1px solid gray; 
    margin:5px 0px 0px 5px;
    padding:6px;
    font-size:11px;
    display: inline;
}
.login-form-side .pwd{
    width:140px;
    //border:1px solid gray;
    margin:5px 0px 0px 2px;
    padding:6px;
    font-size:11px;
    display: inline;
}
.login-form-side .blank{
    height:10px;
}
.login-form-side {
    border:1px solid #80808070;
    border-top-right-radius: 4px; 
    border-top-left-radius: 4px; 
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px; 
}
.login-form-side a{
    color:#e87c7c;
}

.spacer{
    margin:7px 0 12px 0;
}
.submit{
    float:right;
    margin:4px;
}
.remember-me{
    float:left;
    line-height:24px;
    margin-left:5px;
    margin-top: 5px;

}
.login-form-side .rem
{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
}
.remember-me label {
    font-weight: normal;
    font-size:10px;
}
.recover-password{
    margin-left:5px;
    font-size:10px;
}
#search{
    white-space: nowrap;
}
#search input[type=text]{
    border:1px solid gray;
    font-size: 13px;
    width:100%;
    padding:6px 25px 6px 9px;
    vertical-align: middle;
}
#search button[type=submit]{
    height: 13px;
    width: 13px;
    border: none;
    margin-left: -25px;
    margin-bottom: 3px;
    padding:0;
    vertical-align: middle;
    background-color: transparent;
}
.clear{
    clear:both;
}
.blank .alert{
    margin: 0 0 0 5px;
    padding:0;
    font-size:10px;
    color:pink;


}
#newtopic input[type=text]{
    border:none;
    outline:none;
    border-bottom:1px solid gray;
    font-size: 13px;
    width:100%;
    padding:6px 25px 6px 9px;
    vertical-align: middle;
}

#newtopic button[type=submit]{
    height: 13px;
    width: 13px;
    border: none;
    margin-left: -25px;
    margin-bottom: 3px;
    padding:0;
    vertical-align: middle;
    background-color: transparent;
}

.messages {
    padding-left: 0;

}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{ vertical-align:baseline;}/* vertical align baseline */
.vertical-top{  vertical-align:top;}/* vertical align top */
.underline{ padding-bottom:5px; border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{ display:block;}/* vertical menu */
nav.horizontal ul li{   display: inline-block;}/* horizontal menu */
img{max-width:100%;}

/*end reset*/
/*--header start here--*/

.login-form{
    
    padding:100px 0px 50px 0px;

}
.login-form h1{
    font-size:2em;
    color:#fff;
    font-weight:800;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:2em;
/*-- w3layouts --*/
}
.top-login {
    width: 130px;
    height: 130px;
    display: block;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    margin: 0 auto 4em;
    background: #fff;
    position: relative;
}
.top-login span{
    border: 2px solid #F36;
    width: 105px;
    height: 105px;
    display: block;
    margin: 0px auto;
    position: absolute;
    top: 11px;
    left: 11px;
}
.top-login span img{
       -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
    -o-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
    margin: 20px 0 0 20px;
}
/*----*/

.login-top{
    width: 400px;
    display: block;
    margin: 0 auto;
}
.login-ic {
    background: rgba(255, 255, 255, 0.32); 
    margin-bottom:1.5em;
    padding: 2px;   
}
.login-ic i {
        background: url(../img/m.png)no-repeat 6px 6px;
    width: 38px;
    height: 38px;
    float: left;
    /*-- agileits --*/
    display: inline-block;
}
.login-ic i.icon {
    background: url(../img/l.png)no-repeat 6px 6px;  
}
.login-ic i.icon1{
    background: url(../img/g.jpg)no-repeat 8px 6px;
}
.login-ic input[type="text"],.login-ic input[type="email"],.login-ic  input[type="password"] {
        float: left;
    background: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-left: 1px solid #fff;
    width: 82%;
    display: inline-block;
    margin-left: 7px;
}
.log-bwn {
    text-align: center;
}
.log-bwn input[type="submit"] {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 3px 0;
    background: #ff3366;
    display: inline-block;
    width: 100%;
    outline:none;
    border:2px solid #ff3366;
    cursor:pointer;
    text-transform:uppercase;
}
.log-bwn input[type="submit"]:hover{
    transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     border:2px solid #fff;
}
/*-- profile_2 --*/
p.copy{
    color:#fff;
    font-size:1em;
    text-align:center;
    margin-top:6em;
}
/*-- w3layouts --*/
p.copy a{
    color:#fff;
    text-decoration:underline;
}
p.copy a:hover{
    text-decoration:none;
}

/*--meadia quiries start here--*/
@media (max-width:1024px){
p.copy {
    margin-top: 3.5em;
}
.login-form {
    padding: 60px 0px 40px 0px;
}
}

@media (max-width:768px){
body {
    min-height: 929px;
}
}
@media (max-width:768px){
body {
    //min-height: auto;
}
}
@media (max-width:600px){
.login-top {
    width: 425px;
}
.login-ic input[type="text"], .login-ic input[type="password"] {
    width: 79%;
}
}
@media (max-width:480px){
p.copy {
    font-size: 0.9em;
    padding:0 0.5em;
    line-height: 1.8em;
}
}
@media (max-width:450px){
.login-top {
    width: 360px;
}
.login-ic input[type="text"], .login-ic input[type="password"] {
    width: 76%;
    /*-- agileits --*/
}
.top-login {
    width: 90px;
    height:90px;
    margin: 0 auto 3em;
}
.top-login span img {
    margin: 5px 0 0 5px;
}
.top-login span {
    width: 75px;
    height: 75px;
    top: 5px;
    left: 5px;
}
.login-form h1 {
    margin-bottom: 1em;
    font-size: 1.7em;
}
p.copy {

    margin-top: 3em;
}
.login-form {
    padding: 80px 0px 45px 0px;
}
.login-ic {
    margin-bottom: 1em;
    padding: 3px;
}
.log-bwn input[type="submit"] {
    padding: 10px 0;
}
p.copy {
    font-size: 0.8em;
}
body {
    min-height: 672px;
}
}
@media (max-width:384px){
.login-top {
    width: 340px;
}
.login-ic input[type="text"], .login-ic input[type="password"] {
    width: 75%;
}
body {
    min-height: 600px;
}
}

.login-ic input[type="text"], .login-ic input[type="password"] {
    width: 70%;
}
.login-form {
    padding: 50px 0px 45px 0px;
}
body {
    min-height: 540px;
}


