

#top{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 58px;
    padding: 0 20px;
}

.top1{
    float: left;
    width:50%;
    height: 100px;
    line-height:100px;
}

#main{
    clear:both;
    -webkit-box-pack: justify;
}

#Person{
    clear:both;
    float: left;
    margin-left:200px;
    width:75%; 
}

.side{
    float:right;
    width:300px;
    min-height:800px;
    border:0px solid;
    background-color: white;
    margin-right: 10px;
}

#OnePerson{
    clear:both;
    width: 800px;
    height: 115px;
    
}

#otop{
    border-top-left-radius: 30px;
    background-color: rgba(255,255,255,0.6);
}
/*
a:visited {font-family:color:gray;}*/
a:hover {text-transform:uppercase;font-size: 21px;} /*
a:active {font-family:color:#11FF11;}*/

#author{
    font-size:20px;
    color: #E1E;
    font-weight: bold;
    clear:both;

}

#essay{
    clear:both;
    font-size:25px;
    color: #111;
    font-weight: bold;
}

.a1{
    clear:both;
    font-size:20px;
    font-weight: bold;
}

#r{
    clear:both;
    font-size:18px;
    font-weight: bold;
}
#r:hover {font-size: 21px;} 

#content{
    float: left;
    width: 80%; 

    background:url(/static/img/cbg.png) no-repeat;
    background-size: 100% 100%;
}


/*#side{
    float: left;
}*/


#demo{
    margin-top: 7px;
    width: 800px;
    height: 70px;
    background-color: #f5f5f5;
    border-bottom-right-radius: 30px;
    word-break: break-all;

    text-overflow: ellipsis;

    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/

    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/

    -webkit-line-clamp: 2; /** 显示的行数 **/

    overflow: hidden; 


}

#demo span{ 
top:0; 
right:0; 
display:block; 
float:left; 
}

