*{margin:0;padding:0;}

html{  
    width: 100%;   
    height: 100%;   
    overflow: hidden; 
    font-style:sans-serif; 
    background:radial-gradient(closest-corner,#C8B487 5%,#968267 40%,#655545,#372D28) ; 
}   

.button{
  width:100px;
 /* background:linear-gradient(to bottom,#ADCC67,#91BD42);*/
  background:#9CC84C;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
  background: linear-gradient(to bottom,#ADCC67,#91BD42);
}
/*
.button:hover{
  background:#9CC84C;
  background: linear-gradient(to bottom,#ADCC67,#91BD42);
}
  */

 .ttt{
    width: 60px;
	height: 30px;
	border-right: 3px rgb(230,230,230) solid;
	margin-top: 10px;
	float: left;
    background-repeat: no-repeat;
	background-position:center;
        }

#login{
  width:400px;
  margin:5px auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-right:12px solid transparent;
  border-bottom:12px solid #fff;
  border-left:12px solid transparent;
  margin:0 auto;
}


form{
  box-shadow:10px 10px 10px 15px #F1F1F1 insect;
  border-radius: 8px;
  background:#f0f0f0;
  padding:6% 4%;
  margin:5px;
}

input[type="text"],input[type="password"]{
  width:250px;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
  margin-left:17px;
}

input[type="submit"]{
  width:82%;
  background:#E07879;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;  
  margin-bottom:15px;  
  margin-left:33px;
}
/*
input[type="submit"]:hover{
  background:#E07879;
}*/