{% extends 'base.html' %}
{% load static %}
{% block title %}写文章{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/a_a.css'%}"/>
    <style type="text/css">
    .toolbar {
        border: 1px solid #ccc;
    }
    .text {
        border: 1px solid #ccc;
        height: 400px;
    }
    </style>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'index' %}">主页</a></li>
    <li><a href="{% url 'market_index' %}">商城</a></li>
    <li class="selected"><a href="{% url 'chat_index' %}">社区</a></li>
    <li><a href="{% url 'share_index' %}">共享文件</a></li>
{% endblock %}


{% block body %}
<div id="main" class="">       
        
        <div id="bottom" class="">
            <form action="#" method="post">
            {% csrf_token %}
                <div id="top">
                    <input type="text" name="topic" required="required" placeholder="请输入文章标题" style="background-color: #F0F0F0; width:100%; height: 50px;"/>
                </div>

                <div>
                   <!--  <p>内容:</p>
                    <textarea rows="20" cols="80" name="content"></textarea> -->
                    <div id="div1" class="toolbar"></div>
                    <div style="padding: 4px 0; color: #ccc"></div>
                    <div id="div2" class="text"></div>

                    <textarea id="text1" name="content" style="display:none"></textarea>

                    <!-- 实现富文本 -->
                    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
                    <script type="text/javascript" src="../../static/editor/wangEditor.js"></script>
                    <script type="text/javascript">
                        var E = window.wangEditor
                        var editor = new E('#div1','#div2')
                        var $text1 = $('#text1')
                        editor.customConfig.onchange = function (html) {
                            // 监控变化，同步更新到 textarea
                            $text1.val(html)
                        }
                        editor.create()
                        // 初始化 textarea 的值
                        $text1.val(editor.txt.html())
                    </script>
                    <!-- 实现富文本 -->
                </div>
                <div>
                    标签： <input type="text" name="lable">
                </div>
 <!-- 实现　板块的选择 ＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃３-->

                <div>
                    <script>   
                            function change_1()//主分类改变函数
                            {
                                obj1 = document.getElementById("s_1");
                                str1 = obj1.value;
                                obj2 = document.getElementById("s_2"); 
                                nongkecolleges = {{nongkes|safe}}
                                gongkecolleges = {{gongkes|safe}}
                                likecolleges = {{likes|safe}}
                                wenkecolleges = {{wenkes|safe}}
                                if(str1=="农科")
                                    createSelect(nongkecolleges)
                                else if(str1=="工科")
                                    createSelect(gongkecolleges)
                                else if(str1=="理科")
                                    createSelect(likecolleges)
                                else if(str1=="文科")
                                    createSelect(wenkecolleges)
                            }

                            function createSelect(colleges)
                            {
                                obj2.innerHTML = ""; //删除
                                colleges.forEach(function(college)
                                {
                                    op = document.createElement("option");
                                    //创建option元素
                                    op_text = document.createTextNode(college);
                                    //创建文本节点
                                    op.appendChild(op_text);
                                    //为option添加文本节点
                                    op.setAttribute("value",college);
                                    //设置value属性
                                    obj2.appendChild(op);
                                    //为obj2添加子节点
                                })
                            } 
                     </script>
                        <!-- 请选择学院类别： --> 
                        所属板块： 
                        <select id="s_1" name="acollegetype" style="width:100px" onchange="change_1();">
                            {% for collegetype in collegetypes%}
                                <option value="{{collegetype.title}}">{{collegetype.title}}</option>
                            {% endfor %}
                        </select>
                        <!-- <br>请选  择   学  院 ：  -->
                        <select id="s_2" style="width:100px" name="acollege">
                        </select>
                </div>
                <!-- 实现　板块的选择 ＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃＃３-->
                <div>
                    <input type="checkbox" name="is_reviewed"/>文章可被评论
                </div>
                <br><br>
                <div>
                    <input type="submit" value="提交">
                </div>
                
            </form>
        </div>
    </div>
{% endblock %}
