{% extends 'base.html' %}

{% load static %}

{% block title %}写文章 - {% endblock %}

{% block head %}

    <!-- <link rel="stylesheet" href="{% static 'css/chat_index.css'%}"/> -->
    <link rel="stylesheet" href="{% static 'css/share_index.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/chat.css'%}"/>

    <style type="text/css">
        .changestyle{a:link{color:#ccc;}}
    </style>
    <script type="text/javascript">

    // var oBox=document.getElementById('demo');
    // var demoHtml = oBox.innerHTML.slice(0,10)+'...';
    // oBox.innerHTML = demoHtml;

    function showText()
    {   
        $(".changestyle").each(function()
         {
                 var xx=$(this).html();  
                 $(this).replaceWith(xx);
             });
        var txt=document.getElementById("field1").value;


        var str=$("#Person").html();
        str1 = str.replace(/<\/?[^>]*>/g,'');
        if ($.trim(txt)!="")
        {
            var re="<b class='changestyle'>"+txt+"</b>";
            var nn=str.replace( new RegExp(txt,"gm"),re);

            $("#Person").html(nn);
            $(".row").hide().filter(":contains('"+txt+"')").show(); 
            
        }
        else
        {
            $(".row").show();
        }

    }

    </script>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'index' %}">热门</a></li>
    <li><a href="{% url 'market_index' %}">市场</a></li>
    <li class="selected"><a href="{% url 'chat_index' %}">社区</a></li>
    <li><a href="{% url 'share_index' %}">网盘</a></li>
{% endblock %}

{% block side-search %}
    <div class="spacer">
        <form action="#" id="search">
            <div class="input-group">
            <input type="text" id="field1" class="form-control" placeholder="搜索">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="showText()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div> 
{% endblock %}
{% block body %}

    <div id="Person">
        <div id="top">
            <div class="top1">
                <img src="/static/img/home.png" ><a class="a1" href="{%url 'r_m'%}">&nbsp;&nbsp;&nbsp;我的文章</a>
            </div>
            <div class="top1">
                <img src="/static/img/write.png" ><a class="a1" href="{%url 'a_a'%}">&nbsp;&nbsp;&nbsp;写文章</a>
            </div>           
        </div>   
        
        <div id="main">
            {%for a in listArticle%} 
                <div id="OnePerson">
                    &nbsp;&nbsp;&nbsp;
                    <a  id="author" href="{%url 'r_s' a.user_id%}">{{a.user}}</a>
                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a  id="essay" href="{%url 'r_a' a.id%}">{{a.topic}}</a>
                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <img src="/static/img/reply.png" >
                    <a class="a1" href="{%url 'a_v' a.id%}">写评论</a>
                    <div class="demo" id="demo" ><pre >{{a.content}}</pre></div>
                    
                </div>
                <br>
            {%endfor%}

        </div>

    </div>
{% endblock %}


{% block side %}
    <br>
    <form action="{%url 'chat_index'%}" method="POST">
    {% csrf_token %}
        <!-- <script language="JavaScript" src="../static/js/collegeSearch.js"></script> -->
        <script>   
            function change_1()//主分类改变函数
            {
                obj1 = document.getElementById("s_1");
                str1 = obj1.value;
                obj2 = document.getElementById("s_2"); 
                nongkecolleges = {{nongkes|safe}}
                gongkecolleges = {{gongkes|safe}}
                likecolleges = {{likes|safe}}
                wenkecolleges = {{wenkes|safe}}
                if(str1=="农科")
                    createSelect(nongkecolleges)
                else if(str1=="工科")
                    createSelect(gongkecolleges)
                else if(str1=="理科")
                    createSelect(likecolleges)
                else if(str1=="文科")
                    createSelect(wenkecolleges)
            }

            function createSelect(colleges)
            {
                obj2.innerHTML = ""; //删除
                colleges.forEach(function(college)
                {
                    op = document.createElement("option");
                    //创建option元素
                    op_text = document.createTextNode(college);
                    //创建文本节点
                    op.appendChild(op_text);
                    //为option添加文本节点
                    op.setAttribute("value",college);
                    //设置value属性
                    obj2.appendChild(op);
                    //为obj2添加子节点
                })
            } 
     </script>
        请选择学院类别：
        <select id="s_1" style="width:100px" onchange="change_1();">
            {% for collegetype in collegetypes%}
                <option value="{{collegetype.title}}">{{collegetype.title}}</option>
            {% endfor %}
        </select><br>
        请   选  择   学  院 ： 
        <select id="s_2" style="width:100px" name="selcollege">
        </select>
        <br><input type="submit" value="查询">
    </form>
    <br>
    <!-- <a class='btn btn-default sidebtn active'></a>
    <a class='btn btn-default sidebtn'>付费文档</a> -->
    <a class='btn btn-info sidebtn' href="{%url 'r_m'%}">我发表的文章</a>
    <br>
    <a class='btn btn-info sidebtn' href="{%url 'a_a'%}">我要写文章</a>
{% endblock %}