{% extends 'base.html' %}

{% load static %}
{% load custom %}
{% block title %}文章 - {% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/r_a.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/chat_index.css'%}"/>
    <script>admire_pathG = '{%url 'show_goodadmirenum'%}';</script>
    <script>admire_pathB = '{%url 'show_badadmirenum'%}';</script>
    <style>
        .box{
            width:650px; margin-top:10%; margin:auto; padding:28px;
            height:220px; border:1px #111 solid;
            display:none;            /* 默认对话框隐藏 */
        }
        .box.show{display:block;} 
        .box .x{ font-size:18px; text-align:right; display:block;}
        .box input{width:90%; font-size:18px; margin-top:18px;}
    </style>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'index' %}">主页</a></li>
    <li><a href="{% url 'market_index' %}">商城</a></li>
    <li class="selected"><a href="{% url 'chat_index' %}">社区</a></li>
    <li><a href="{% url 'share_index' %}">资源共享</a></li>
{% endblock %}


{% block body %}
    <div id="main" class="body1">
        
        <div id="top" class="body1">           
            <div id="at" >
                <p>{{a.topic}}</p>
            </div>
            <div id="al">
                <a id="back" href="{%url 'articles'%}">< 社区主页</a>
            </div>
        </div>
        <div id="middle" class="body1">
            <div id="name"><p>{{a.user}}</p></div>  
            <div id="lab"><p>{{a.lable}}</p></div>
            <div id="cont" ><p class="body1">{{a.content|safe}}</p></div>
            <div><p>{{a.block}}</p></div>
            <div id="time"><p>发布于：{{a.create_date}}</p></div>
        </div>
        <!-- 点赞 -->
            <div id="like">
        <!-- 好评端 -->
                    <span id="goodSpan" onclick="sendGood({{a.id}},'article',{{login_uid}})">
                        {% if a.id in listarticle_admire %}
                            <img src="../static/img/like_aft.png" style="width: 25px; height: 25px;" id='goodimg{{a.id}}'/>  
                        {% else %}
                            <img src="../static/img/like_bef.png" style="width: 25px; height: 25px;" id='goodimg{{a.id}}'/>  
                        {% endif %}  
                    </span>
                    [<span id="goodnum{{a.id}}">{{a.beadmired_num}}</span>]
        <!-- 差评端 -->
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="badSpan" onclick="sendBad({{a.id}},'article',{{login_uid}})">
                        {% if a.id in listarticle_notadmire %}
                            <img src="../static/img/like_aft.png" style="width: 25px; height: 25px; transform: rotate(180deg);" id='badimg{{a.id}}'/>  
                        {% else %}
                            <img src="../static/img/like_bef.png" style="width: 25px; height: 25px; transform: rotate(180deg);" id='badimg{{a.id}}'/>   
                        {% endif %}
                    </span>
                    [<span id="badnum{{a.id}}">{{a.benotadmired_num}}</span>]

                    <script language="JavaScript" src="../static/js/admire.js"></script>
            </div>
        <div id="bottom" class="body2">
            <div class="cl">
                <div id="rl" class="r1">
                <p id="rev">评论</p>
                </div>
                <div id="rr" class="r1">
                    <img id="write" src="/static/img/reply.png"  >
                    <a href="{%url 'a_v' a.id%}" id="wr">写评论</a>
                </div>
            </div>
            <div class="cl">
                
            
            
            <div id="listr">
                {%for r in listReview%}
                
                <div id="review">
                    {% build_review_tree reviews %} 
                    <div id="revi">
                        
                    
                    <div id="le">
                        <form  action="{%url 'a_p' r.id%}" method="post">
                    {% csrf_token %}
                        <input id="butt" type="button" onClick="msgbox(1)" value="回复">

                        <script>  
                            function msgbox(n){
                                document.getElementById('inputbox').style.display=n?'block':'none';     /* 点击按钮打开/关闭 对话框 */
                            }
                        
                         </script>  
                         
                         <div id='inputbox' class="box" >
                            <a class='x' href=''; onclick="msgbox(0); return false;">关闭</a>
                            <textarea  name="content" cols="63"></textarea>
                            <input type="submit" value="提交">

                         </div>

                    </form>
                    </div>
                    <div id="ri">
                        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;{{r.user}}&nbsp;&nbsp;|&nbsp;&nbsp;{{r.create_date}}
                        <br>

                        <div id="con">{{r.content | safe}}</div>            
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{r.replys}}
                    </div>
                   </div>
                
            {%endfor%}
            </div>
           </div>
           </div>
        </div>
        </div>
    </div>
{% endblock %}
