{% extends 'base.html' %}

{% load static %}

{% block title %}{{u.username}}的主页 - {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/r_m.css'%}"/>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'index' %}">热门</a></li>
    <li><a href="{% url 'market_index' %}">市场</a></li>
    <li class="selected"><a href="{% url 'chat_index' %}">社区</a></li>
    <li><a href="{% url 'share_index' %}">网盘</a></li>
{% endblock %}


{% block body %}
 
    <div id="main" class="">
        <div id="bg">  
                  
            <div id="top" class="t">
                <div id="l" class="t">
                    <img src="/static/img/my.png" alt="">
                </div>
                <div id="r" class="t">
                    <p class="sub">&nbsp;&nbsp;&nbsp;{{u.username}}的文章&nbsp;&nbsp;&nbsp;</p>
                    <hr>
                </div> 
            </div>
        </div>
        <div class="a2" id="b">
            <a id="back" href="{%url 'articles'%}">< 社区主页</a>
        </div>
        <div id="middle" class="">
            {% for a in listArticle %}
                <div id="one">
                    <div id="article" class="">  
                        <div class="a1">
                            <div class="t1" >
                                <h2>{{a.topic}}&nbsp;&nbsp;&nbsp;</h2>
                            </div>
                            <div class="t1">
                                <img id="i1" src="/static/img/feather.png" alt="">
                            </div>
                        </div>              
                        <div class="a1">
                            <pre>{{a.content}}</pre>
                            <p id="time">{{a.create_date}}</p>
                        </div>
                        
                    </div>
                    <div>
                        <div class="t1">
                            <img id="like" src="/static/img/like.png" alt="">
                        </div>
                        <div class="t1" id="l">
                            &nbsp;&nbsp;&nbsp;{{a.like_num}}
                        </div>
                    </div>     
                </div>             
            {%endfor%}   
        </div>
        </div>
    </div>
{% endblock %}