{% extends 'base.html' %}

{% load static %}

{% block title %}{{user.username}}的主页 - {% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/r_m.css'%}"/>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'index' %}">主页</a></li>
    <li><a href="{% url 'market_index' %}">商城</a></li>
    <li class="selected"><a href="{% url 'chat_index' %}">社区</a></li>
    <li><a href="{% url 'share_index' %}">资源共享</a></li>
{% endblock %}


{% block body %}
 
    <div id="main" class="">
        <div id="bg">  
                  
            <div id="top" class="t">
                <div id="l" class="t">
                    <img src="/static/img/my.png" alt="">
                </div>
                <div id="r" class="t">
                    <p class="sub">&nbsp;&nbsp;&nbsp;{{user.username}}的文章&nbsp;&nbsp;&nbsp;</p>
                    <hr>
                </div> 
            </div>
        </div>
        <div class="a2" id="b">
            <a id="back" href="{%url 'articles'%}">< 社区主页</a>
        </div>
        <div id="middle" class="">
            {% for a in listArticle %}
                <div id="one">
                    <div id="article" class="">  
                        <div class="a1">
                            <div class="t1" >
                                <p id="at">{{a.topic}}&nbsp;&nbsp;&nbsp;</p>
                            </div>
                            <div class="t1">
                                <img id="i1" src="/static/img/feather.png" alt="">
                            </div>
                            <div class="a2">
                                <div class="t1">
                                    <img id="i2" src="/static/img/del.png" alt="">
                                </div>
                                <div class="t1">
                                    <a href="{%url 'd_a' a.id%}">删除文章</a>
                                </div>
                            </div>
                        </div>              
                        <div class="a1">
                            <div id="cont"><p>{{a.content|safe}}</p></div>
                            <p id="time">{{a.create_date}}</p>
                        </div>
                        
                    </div>
                    <div id="lik">
                        <div class="t0">
                            <div class="t1">
                                <img id="like" src="/static/img/like.png" alt="">
                            </div>
                            <div class="t1" id="l">
                                &nbsp;&nbsp;&nbsp;{{a.beadmired_num}}
                            </div>  
                        </div>
                        <div class="t0">
                            <div class="t1">
                                <img id="like" src="/static/img/unlike.png" alt="">
                            </div>
                            <div class="t1" id="l">
                                &nbsp;&nbsp;&nbsp;{{a.benotadmired_num}}
                            </div> 
                        </div> 
                                   
                    </div>
                    <div id="rev" >
                        <p>评论</p> 
                        
                        {{a.reviews | safe}}                  
                        <!-- {% for r in a.reviews%}
                            <table>
                                 <tr>
                                      <td>{{r.0}}  |  </td>
                                      <td>{{r.1}}  |  </td>
                                      <td>{{r.2}}</td>
                                   </tr>
                             </table>
 
                        
                        {%endfor%}  -->
                    </div>
                    

                    <hr>
                </div>              
            {%endfor%}   
        </div>
        </div>
        <div class="pageJeep">
            <div class="embed">
                <nav aria-label="...">
                <ul class="pagination">
                {% if page_now == 1 %}
                <li class="disabled">
                  <span>
                  <span aria-hidden="true">&laquo;</span>
                  </span>
                </li>
                {%else%}
                <li >
                  <span>
                  <span aria-hidden="true"><a href="{%url 'r_m'%}?page={{pre_page}}">&laquo;</a></span>
                  </span>
                </li>
                {%endif%}
                {% for i in ranges %}
                {% if i == page_now %}
                <li class="active">
                  <span><a href="{%url 'r_m'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                    <li>
                  <span><a href="{%url 'r_m'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
                </li>
                {% endif %}
                {%endfor%}
                {% if page_now == page_sum %}
                <li class="disabled">
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {%else%}
                <li>
                  <a href="{%url 'r_m'%}?page={{next_page }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {%endif%}
              </ul>
            </nav>
                </div>

    </div>
{% endblock %}