body{
}
.glyphicon {font-family: 'Glyphicons Halflings' !important;}
.logo{
    height:50px;
}
.side{
    float:right;
    width:300px;
    min-height:800px;
    //border:1px solid;
    background-color: white;
    margin-right: 10px;

}
.content{
    margin:5px 5px;
    background-color: #fff;
    //width :auto;
    //margin:0 auto;
    //overflow:hidden;
    //border:1px solid ;
    z-index: 1;
}
#header-img {
    background-image: url(../img/logo.png);
    background-size: 100%;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-top: 15px;
    overflow: visible;
    padding: 0;
}
.brand-name{
    width:100px;
    margin-left:60px;
    font-size:22px;
    color: #141414;
    font-weight:200;
    margin-top: 10px;
}
.brand-name a{
    text-decoration:none;
    color:black;
}
.navbar
{
    border-bottom:1px solid #7c9db9;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default{
    background-color: #ceddea;
}
.navbar-header{
    line-height:50px;
    height: 50px;
    position: relative;

}
.tabmenu{
    list-style: none;
    display: inline-block;
    padding-left: 15px;
    height:30px;
    margin-bottom: 0;
    margin-top: 30px;
}
.tabmenu li{
    display:inline;
    font-weight: bold;
    margin: 0 3px;


}

.tabmenu li a{
    padding: 4px 10px 6px 10px;
    background-color: #eff7ff;
    text-decoration:none;
    font-size:20px;

    border-top-right-radius: 6px; 
    border-top-left-radius: 6px;

}
a {
    text-decoration: none;
    color: #369;
}
li.selected a {
    color: orangered;
    background-color: white;
    border: 1px solid #5f99cf;
    border-bottom: 1px solid white;
    z-index: 100;

}

.header-bottom-right{
    float:right;
    position: absolute;
    bottom:0;
    right:0;
    background-color: #EFF7FF;
    border-top-left-radius: 7px;
    //font-size: 10px;
    padding: 2px 2px 1px 5px;
    color:gray;
}

.side{
    color: black;
    margin-top:5px;
}
.container{
    width:100%;
}
.content {
    margin: 5px 310px 0px 0px;
    background-color: #fff;
}
.topic-title{
    font-size: 20px;
    margin:0;
}
.topic-group{
    margin:20px;
}
.login-form-side .user{
    width:138px;
    //border:1px solid gray; 
    margin:5px 0px 0px 5px;
    padding:6px;
    //font-size:11px;
    display: inline;
}
.login-form-side .pwd{
    width:138px;
    //border:1px solid gray;
    margin:5px 0px 0px 5px;
    padding:6px;
    //font-size:11px;
    display: inline;
}
.login-form-side .blank{
    height:10px;
}
.login-form-side {
    border:1px solid #80808070;
    border-top-right-radius: 4px; 
    border-top-left-radius: 4px; 
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px; 
}
.login-form-side a{
    //color:#e87c7c;
}

.spacer{
    margin:7px 0 12px 0;
}
.submit{
    float:right;
    margin:4px;
}
.remember-me{
    float:left;
    line-height:24px;
    margin-left:5px;
    margin-top: 5px;

}
.login-form-side .rem
{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
}
.remember-me label {
    font-weight: normal;
    //font-size:10px;
}
.recover-password{
    margin-left:5px;
    font-size:10px;
}
#search{
    white-space: nowrap;
}
#search input[type=text]{
    //border:1px solid gray;
    //font-size: 13px;
    width:100%;
    padding:6px 25px 6px 9px;
    vertical-align: middle;
}
#search button[type=submit]{
    height: 13px;
    width: 13px;
    border: none;
    margin-left: -25px;
    margin-bottom: 3px;
    padding:0;
    vertical-align: middle;
    background-color: transparent;
}
.clear{
    clear:both;
}
.blank .alert{
    margin: 0 0 0 5px;
    padding:0;
    font-size:10px;
    //color:pink;


}
#newtopic input[type=text]{
    border:none;
    outline:none;
    border-bottom:1px solid gray;
    //font-size: 13px;
    width:100%;
    padding:6px 25px 6px 9px;
    vertical-align: middle;
}

#newtopic button[type=submit]{
    height: 13px;
    width: 13px;
    border: none;
    margin-left: -25px;
    margin-bottom: 3px;
    padding:0;
    vertical-align: middle;
    background-color: transparent;
}
