/*model.css*/
li{
    display:inline;
    float:left; 
    list-style:none;

}

hr{
    height:5px;
    border:none;
    border-top:3px ridge green;
}
.contentdiv{
    width: 100%;
    padding: 20px;
    float:left;

}
.divcontent{
    width: 100%;
    clear: left;
    /*padding: 20px;*/
}
