<!-- category_list.html -->
<!DOCTYPE HTML PUBLIC"-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">

<html>

    <head>

        <title>

            Django Learning 下拉列表多级联动选择

        </title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <script language="javascript">

            function Dlist(array) {

                this.array = array;

              this.indexName = '';

                this.obj = '';

                this.subSelectChange = function(selectName1, selectName2) {

                    var obj1 = document.all[selectName1];

                    var obj2 = document.all[selectName2];

                    var objName = this.toString();

                    var me = this;

                    obj1.onchange = function() {

                        me.optionChange(this.options[this.selectedIndex].value, obj2.id)

                    }

                }

                this.firstSelectChange = function(indexName, selectName) {

                    this.obj = document.all[selectName];

                    this.indexName = indexName;

                    this.optionChange(this.indexName, this.obj.id)

                }

                this.optionChange = function(indexName, selectName) {

                    var obj1 = document.all[selectName];

                    var me = this;

                    obj1.length = 0;

                    obj1.options[0] = new Option("请选择", '');

                    for (var i = 0; i < this.array.length; i++) {

                        if (this.array[i][1] == indexName) {

                            obj1.options[obj1.length] = new Option(this.array[i][2], this.array[i][0])

                        }

                    }

                }

            }

        </script>

    </head>

 

    <body>

        <a href="?mode=reset">

            重建静态文件

        </a>

      <form name="form1" method="post">

          <SELECT ID="s1" NAME="s1" size="10">

              <OPTION selected>

              </OPTION>

          </SELECT>
          <SELECT ID="s2" NAME="s2" size="10">

              <OPTION selected>

              </OPTION>

          </SELECT>

          <SELECT ID="s3" NAME="s3" size="10">

              <OPTION selected>

              </OPTION>

          </SELECT>

      </form>
      <script type="text/javascript" src="/static/js/category_data.js"><!-此处根据你的category_data.js存放位置进行更改-->

      </script>

      <script type="text/javascript">

          var liandong = new Dlist(array) liandong.firstSelectChange("0", "s1");<!-联动关系设置-->

          liandong.subSelectChange("s1", "s2");

          liandong.subSelectChange("s2", "s3");

      </script>

      <hr>

      <div>

            Thanks for visiting.

      </div>

  </body>

</html>
