<!-- fileDetailShow.html -->
{%extends 'share_index.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/share_index.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/demo(1).css'%}"/>
{% endblock %}

{% block navbar %}
    <li ><a href="{% url 'index' %}">主页</a></li>
    <li><a href="{% url 'market_index' %}">商城</a></li>
    <li><a href="{% url 'chat_index' %}">社区</a></li>
    <li class="selected"><a href="{% url 'share_index' %}">共享文件</a></li>
{% endblock %}


{% block body %}
<br><br>
<h3 align="center">{{file.file_name}}文件详情</h3>
<br><br><br><br>
<div class='detail'>

    <table>
        <tr>
            <td width="200px" height="40px"><font size="5">文件名称：</font></td>
            <td width="300px" height="40px"><font size="5">{{file.file_name}} </font></td>
        </tr>
        <tr>
            <td width="200px" height="40px"><font size="5">文件大小：</font></td>
            <td width="300px" height="40px"><font size="5">{{file.file_size}}Ｂ</font></td>
        </tr>
        <tr>
            <td width="200px" height="40px"><font size="5">文件下载次数：</font></td>
            <td width="300px" height="40px"><font size="5">{{file.file_bedown}}</font></td>
        </tr>
        <tr>
            <td width="200px" height="40px"><font size="5">文件上传时间：</font></td>
            <td width="300px" height="40px"><font size="5">{{file.create_time}}</font></td>
        </tr>
        <tr>
            <td width="200px" height="40px"><font size="5">文件所属类别：</font></td>
            <td width="300px" height="40px"><font size="5">{{file.file_classify}}</font></td>
        </tr>
        <tr>
            <td width="200px" height="40px"><font size="5">文件好评数：</font></td>
            <td width="300px" height="40px"><font size="5">{{file.file_beadmired}}</font></td>
        </tr>
        <tr>
            <td width="200px" height="40px"><font size="5">文件状态：</font></td>
            {% if file.file_status == 0 %}
            <td width="300px" height="40px"><font size="5">私有文档</font></td>
                            
            {% elif file.file_status == 1 %}
            <td width="300px" height="40px"><font size="5">免费共享文档</font></td>
            {% else %}
                <td width="300px" height="40px"><font size="5">付费共享文档</font></td>
            {% endif %}
        </tr>
    </table>
    <br>
    <br>
    <br>

</div>
{% endblock %}
{% block side %}
<a class='btn btn-info sidebtn' href="{% url 'd_files' file.id %}">下载</a>
<br>
<a class='btn btn-info sidebtn' href="{%url 'share_index'%}">文件列表</a>
{% endblock %}