<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <form action="/upload_file1/" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    用户名:<input type="text" name="user" /><br>
        上传文件：<input type="file" name="inputfile"/><br>
        文件下载次数：<input type="text" name="filedowntimes"/><br>
        文件类型：<input type="text" name="fileType"><br>
    <select class="form-control" name='list'>

         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
    </select>
    <input type="submit">
    </form>
    
</body>
</html>
