<!-- share_index.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}商城 - {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/share_index.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/demo(1).css'%}"/>

    <script>admire_pathG = '{%url 'show_goodadmirenum'%}';</script>
    <script>admire_pathB = '{%url 'show_badadmirenum'%}';</script>
{% endblock %}

{% block navbar %}
<li><a href="{% url 'index' %}">主页</a></li>
<li><a href="{% url 'market_index' %}">商城</a></li>
<li><a href="/chat">社区</a></li>
<li class="active"><a href="/share">共享文件 <span class="sr-only">(current)</span></a></li>
{% endblock %}


{% block body %}
<div class="buju">
    <h2 class="title">最新发布</h2>
    <table class="table table-hover" border=1>
    {%csrf_token%}
        <th>文件类别</th>
        <!-- <th>文件id</th> -->
        <th>发表用户</th>
        <th>文件名</th>
        <th>文件大小</th>
        <th>下载次数</th>
        <th>上传时间</th>
        <th>操作</th>
        <th>评价</th>
        <!-- <th>用户名</th>
        <th>学院类型</th> -->
        {% for x in sharefileList %}
            <tr>
                <!-- 只有college的参数是name -->
                <td>
                    <a href="{% url 'show_coll' x.file_classify %}">{{x.file_classify}}</a>
                </td>
                <td><a href="{% url 'show_user' x.user_id %}">{{ x.user }}</a></td>
                <td><a href="{% url 'show_file' x.id %}">{{ x.file_name }}</a></td>

                {% if x.file_size >　1048576 %}
                    <td>{% widthratio x.file_size 1048576 1 %}M</td>
                {% elif x.file_size >　1024 %}
                    <td>{% widthratio x.file_size 1024 1 %} K</td>
                {% else %}
                    <td>{{ x.file_size }} B</td>
                {% endif %}
                <td>{{x.file_bedown}}</td>
                <td>{{x.create_time}}</td>
                <td>
<!--                     {% if x.file_status != 2 %} -->
                        <a href="{%url 'd_files' x.id%}" id="down">下载<img src="../static/img/unlockfree.png" style="width: 20px; height: 20px;"></a>
                       <!--  <input id="down" name="down" type="button" value="下载" onclick="window.location.href='/download_file/{{x.id}}'"> -->
                    <!-- {% else %}
                        <a href="#">购买<img src="../static/img/unlockpay.png" style="width: 20px; height: 20px; alt="></a>
                    {% endif %} -->
                </td>
                <td>

        <!-- 好评端 -->
                    <span id="goodSpan" onclick="sendGood({{x.id}},'file',{{login_uid}})">
                        {% if x.id in listfile_admire %}
                            <img src="../static/img/like_aft.png" style="width: 25px; height: 25px;" id='goodimg{{x.id}}'/>  
                        {% else %}
                            <img src="../static/img/like_bef.png" style="width: 25px; height: 25px;" id='goodimg{{x.id}}'/>  
                        {% endif %}
                    </span>
                    [<span id="goodnum{{x.id}}">{{x.file_beadmired}}</span>]
        <!-- 差评端 -->
                        &nbsp;&nbsp;&nbsp;
                    <span id="badSpan" onclick="sendBad({{x.id}},'file',{{login_uid}})">
                        {% if x.id in listfile_notadmire %}
                            <img src="../static/img/like_aft.png" style="width: 25px; height: 25px; transform: rotate(180deg);" id='badimg{{x.id}}'/>  
                        {% else %}
                            <img src="../static/img/like_bef.png" style="width: 25px; height: 25px; transform: rotate(180deg);" id='badimg{{x.id}}'/>   
                        {% endif %}
                    </span>
                    [<span id="badnum{{x.id}}">{{x.file_benotadmired}}</span>]
                    
                    <script language="JavaScript" src="../static/js/admire.js"></script>
                </td>

            </tr>
        {% endfor %}
                    
    </table>
</div>
<div class="pageJeep">
    <div class="embed">
       <nav aria-label="...">
    <ul class="pagination">
    {% if page_now == 1 %}
    <li class="disabled">
      <span>
      <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    {%else%}
    <li >
      <span>
      <span aria-hidden="true"><a href="{%url 'share_index' %}?page={{pre_page}}">&laquo;</a></span>
      </span>
    </li>
    {%endif%}
    {% for i in ranges %}
    {% if i == page_now %}
    <li class="active">
      <span><a href="{%url 'share_index' %}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
        <li>
      <span><a href="{%url 'share_index' %}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% endif %}
    {%endfor%}
    {% if page_now == page_sum %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%else%}
    <li>
      <a href="{%url 'share_index' %}?page={{next_page }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%endif%}
  </ul>
</nav>
    </div>
    </div>

{% endblock %}

{% block side-search %}
    <div class="spacer">
        <form action="/search/" id="search" method="POST">
        {% csrf_token %}
            <div class="input-group">
            <input type="text" class="form-control" placeholder="搜索" name="search">
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div> 
{% endblock %}


{% block side %}
<!-- <a class='btn btn-default sidebtn active'>校园二手</a>
<a class='btn btn-default sidebtn'>付费文档</a> -->

<br>
<form action="{%url 'share_index'%}" method="POST">
{% csrf_token %}
    <!-- <script language="JavaScript" src="../static/js/collegeSearch.js"></script> -->
    <script>   
        function change_1()//主分类改变函数
        {
            obj1 = document.getElementById("s_1");
            str1 = obj1.value;
            obj2 = document.getElementById("s_2"); 
            nongkecolleges = {{nongkes|safe}}
            gongkecolleges = {{gongkes|safe}}
            likecolleges = {{likes|safe}}
            wenkecolleges = {{wenkes|safe}}
            if(str1=="农科")
                createSelect(nongkecolleges)
            else if(str1=="工科")
                createSelect(gongkecolleges)
            else if(str1=="理科")
                createSelect(likecolleges)
            else if(str1=="文科")
                createSelect(wenkecolleges)
        }

        function createSelect(colleges)
        {
            obj2.innerHTML = ""; //删除
            colleges.forEach(function(college)
            {
                op = document.createElement("option");
                //创建option元素
                op_text = document.createTextNode(college);
                //创建文本节点
                op.appendChild(op_text);
                //为option添加文本节点
                op.setAttribute("value",college);
                //设置value属性
                obj2.appendChild(op);
                //为obj2添加子节点
            })
        } 
 </script>
    请选择学院类别：
    <select id="s_1" style="width:100px" onchange="change_1();">
        {% for collegetype in collegetypes%}
            <option value="{{collegetype.title}}">{{collegetype.title}}</option>
        {% endfor %}
    </select><br>
    请&nbsp;&nbsp;选 &nbsp;&nbsp;择&nbsp;&nbsp;学&nbsp;&nbsp;院 ： 
    <select id="s_2" style="width:100px" name="selcollege">
    </select>
    <br><input type="submit" class='btn btn-info sidebtn' value="查询">
</form>
<br>
<!-- <a class='btn btn-default sidebtn active'></a>
<a class='btn btn-default sidebtn'>付费文档</a> -->
<a class='btn btn-info sidebtn' href="{% url 'show_user' login_uid %}">我的网盘</a>
<br>
<a class='btn btn-info sidebtn' href="{%url 'add_file'%}">添加文件</a>
{% endblock %}