<!-- userFilesShow.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <script>admire_pathG = '{%url 'show_goodadmirenum'%}';</script>
    <script>admire_pathB = '{%url 'show_badadmirenum'%}';</script>
{% endblock %}

{% block navbar %}
    <li ><a href="{% url 'index' %}">热门</a></li>
    <li><a href="{% url 'market_index' %}">市场</a></li>
    <li><a href="#">讨论</a></li>
    <li class="selected"><a href="{% url 'share_index' %}">网盘</a></li>
{% endblock %}
{% block side %}

{% endblock %}

{% block body %}
    <!-- user　　listfile -->

    <h2>我上传的文件</h2>
    
    <table class="table table-hover" border=1>
        <th>文件类别</th>
        <th>文件名</th>
        <th>文件大小</th>
        <th>下载次数</th>
        <th>上传时间</th>
        <th>操作</th>
        <th>评价</th>
        <th>文件状态</th>
        {% for file in listfile%}
            <tr>
                <!-- 只有college的参数是name -->
                <td>
                    <a href="{% url 'show_coll' file.file_classify %}">{{file.file_classify}}</a>
                </td>
                <td><a href="{% url 'show_file' file.id %}">{{ file.file_name }}</a></td>

                {% if file.file_size >　1048576 %}
                    <td>{% widthratio file.file_size 1048576 1 %}M</td>
                {% elif file.file_size >　1024 %}
                    <td>{% widthratio file.file_size 1024 1 %} K</td>
                {% else %}
                    <td>{{ file.file_size }} B</td>
                {% endif %}
                <td>{{file.file_bedown}}</td>
                <td>{{file.create_time}}</td>
                <td>
                    <a href="{%url 'd_files' file.id%}">下载</a>|
                    <a href="{%url 'del_files' file.id%}">删除</a>
                </td>
                <td>
                    <img src="../static/img/like_bef.png" style="width: 25px; height: 25px;" id='goodimg{{x.id}}'/>  
                    [<span>{{file.file_beadmired}}</span>]
                        |
                    <img src="../static/img/like_bef.png" style="width: 25px; height: 25px; transform: rotate(180deg);" id='badimg{{x.id}}'/> 
                    [<span>{{file.file_benotadmired}}</span>]

                </td>
                <td>
                    <select name="fileStaus" id="">

                        {% if file.file_status == 0 %}
                            <option value="私有文档" selected="selected">私有文档</option>
                            <option value="免费共享文档">免费共享文档</option>
                            <option value="付费共享文档">付费共享文档</option>
                        {% elif file.file_status == 1 %}
                            <option value="私有文档">私有文档</option>
                            <option value="免费共享文档" selected="selected">免费共享文档</option>
                            <option value="付费共享文档">付费共享文档</option>
                        {% else %}
                            <option value="私有文档">私有文档</option>
                            <option value="免费共享文档">免费共享文档</option>
                            <option value="付费共享文档" selected="selected">付费共享文档</option>
                        {% endif %}                      
                    </select>

                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}