{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}有点东西</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block head %}{% endblock %}

    <script>


</script>
</head>
<body>
<div style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;position:relative;filter: alpha(opacity=100);">
  <img src="static/img/banner.jpg" style="position:absolute;margin: 0px;padding: 0px;border:none;height: 927px ;width: 1648px;max-height: none;max-width: none;top: 0px;z-index: -999999" >

<nav class="navbar navbar-default">

    <div class="navbar-header"  style="filter: alpha(opacity=100);">
        <a class="navbar-brand" id="header-img" href="#"></a>
        <div class="brand-name"><a href="#">有点东西</a></div>
    </div>
    {%block tabmenu%}
    <ul class="tabmenu">
        {% block navbar %}
            <li><a href="#">热门</a></li>
            <li><a href="#">市场</a></li>
            <li><a href="#">讨论</a></li>
            <li><a href="/share">网盘</a></li>
        {% endblock %}
    </ul>
    {%endblock%}
    <div id="refresh-nav">
      <div class="header-bottom-right" id="header-bottom-right">
          {% if request.session.username %}
              <span><a href="#">{{ request.session.username }}</a>|<a href="{%url 'notify'%}">消息<span class="badge">{{lang}}</span></a>|<a href="/logout/">退出</a></span>
          {% else %}
              <span>想加入讨论? 立即<a href="#" data-toggle="modal" data-target="#myModal">注册</a>
              或<a href="#" data-toggle="modal" data-target="#myModal1">登录</a>

              </span>
          {% endif %}
      </div>
    </div>

</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{%if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type:none;"><div
    {% if message.tags == 'info' %}
    class="alert alert-info"
    {% elif message.tags == 'success' %}
    class="alert alert-success"
    {% elif message.tags == 'warning' %}
    class="alert alert-warning"
    {% elif message.tags == 'error' %}
    class="alert alert-danger"
    {% else %}
    class="alert alert-success"
    {% endif %} class="alert-dismissable">
  <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;</button>
        <strong>{{message}}</strong> 
</div></li>
    {%endfor %}
</ul>
{% endif %}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label>注册</label> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                 <!--这里显示错误信息-->

                </h4>
            </div>
            <div class="login-form" style="background-image: url(/static/img/bbb.jpg);">
            <div class="top-login">
                    <span><img src="/static/img/logo.png" alt=""/></span>
            </div>
            <div class="login_log">
            </div>
            <br>
            <div class="login-top">
            <form  action='/register/' method='post'>
                {%csrf_token%}
                <div class="login-ic">
                    <i ></i>
                    <input type="text"  name="username" placeholder="请输入用户名" onFocus="this.value = '';" onBlur="if (this.value == '') "
                    required oninvalid="setCustomValidity('用户名不能为空')" oninput="setCustomValidity('')"/>
                <div class="clear"> </div>
                </div>
                  <div class="login-ic">
                    <i class="icon1"></i>
                    <input type="email"  name="email" placeholder="请输入电子邮箱" onFocus="this.value = '';" onBlur="if (this.value == '') "required oninvalid="setCustomValidity('请输入正确的邮箱格式')" oninput="setCustomValidity('')"/>
                <div class="clear"> </div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>

                    <input type="password"  name="password1" placeholder="请输入密码" onFocus="this.value = '';" onBlur="if (this.value == '') " onchange="checkPassword()"/>
                    <div class="clear"> </div>
                </div>
                 <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password"  name="password2" placeholder="请再次确认" onFocus="this.value = '';" onBlur="if (this.value == '') "/>
                    <div class="clear"> </div>
                </div>
            
                <div class="log-bwn">
                    <input type="submit"  value="Register" >
     
                </div>
                </form>
            </div>
                 <p class="copy"> 注册即表示您同意
                         © 2018 STC-NWSAUF　有点东西平台</p>

            </div>  
</div>    

        </div>
  
</div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <label>登录</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                 <!--这里显示错误信息-->

                </h4>
            </div>
<div class="login-form" class='back' style="background-image: url(/static/img/bbb.jpg);">
    <div class="top-login">

                    <span><img src="/static/img/logo.png" alt=""/></span>
    </div>
            <div class="login_log">
            </div>
            <br>
            <div class="login-top">
            <form  action='/login/' method='post'>
                {%csrf_token%}
                <div class="login-ic">
                    <i ></i>
                    <input type="text"  name="username" placeholder="请输入用户名" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'username';}" required oninvalid="this.setCustomValidity('用户名不能为空')"oninput="setCustomValidity('')" />
                <div class="clear"> </div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password"  name="password" placeholder="请输入密码"  onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'password';}"/>
                    <div class="clear"> </div>
                </div>
                <div class="copy">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="rem" type="checkbox" name="rem" id="rem-login-main1">
                <label for="rem-login-main" class="text-muted">记住我</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="copy1" class="text-muted" href="#">忘记密码</a>
            </div>
                <div class="log-bwn">
                    <input type="submit" value="Login" >
                </div>
                </form>
            </div>
            <p class="copy"> 欢迎您加入我们<br>© 2018 STC-NWSAUF　有点东西平台</p>

        </div>  
</div>    

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>           
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label>找回密码</label> 
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                 <!--这里显示错误信息-->

                </h4>
            </div>
            <div class="login-form" style="background-image: url(/static/img/bbb.jpg);">
            <div class="top-login">
                    <span><img src="/static/img/logo.png" alt=""/></span>
            </div>
            <div class="login_log">
            </div>
            <br>
            <div class="login-top">

            <form  action='/reset/' name="form1" method='POST' ">
                {%csrf_token%}
                <div class="login-ic">
                    <i ></i>
                    <input type="text" required oninvalid="setCustomValidity('用户名不能为空')" oninput="setCustomValidity('')"  name="username" placeholder="请输入用户名" onFocus="this.value = '';" onBlur="if (this.value == '') "/>
                <div class="clear"> </div>
                </div>           
                <div class="log-bwn">
                    <input type="submit"  value="下一步"  onclick="check(this.form)"/>
                </div>
                </form>
            </div>
                 <p class="copy"> 找回密码
                         © 2018 STC-NWSAUF　有点东西平台</p>

            </div>  
</div>    

        </div>
  
</div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="side" style="filter: alpha(opacity=100);">

<!--搜索框不放在基类 各个子应用分别实现搜索 -->

    {% block side-search %}
    <div class="spacer">
        <form action="#" id="mysearch">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="搜索">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div> 
    {% endblock %}
  
    <div class="spacer">
    {% if request.user.is_authenticated %}
    <h1>已登录</h1>
    <a href="{% url 'logout'%}">logout</a>

    {% endif %}
        <form action="{% url 'login' %}" method="POST" class="login-form-side">
        {% csrf_token %}
            <input class="user form-control" type="text" name="username" placeholder="用户名">
            <input class="pwd form-control" type="password" name="password" placeholder="密码"><br>
            <div class="blank">
                <!--显示登录错误信息-->
            </div>
            <div class="remember-me">
                <input class="rem" type="checkbox" name="rem" id="rem-login-main">
                <label for="rem-login-main" class="text-muted">记住我</label>
                
                <a href="#"  class="recover-password" class="text-muted" data-toggle="modal" data-target="#myModal2">忘记密码</a>
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-default" >登录</button>
            </div>
            <div class="clear"></div>
        </form>
    </div>

<!--
    <div class="spacer">
        <form action="#" id="search">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="发起新讨论">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
-->
    <div class="spacer" >
    <!--此处添加各app功能-->
    {% block side %}
    {% endblock %}
    </div>
</div>

<div class="content" id="content" style="filter: alpha(opacity=100);">
{% block body %}

{% endblock %}

</div>
<div class='footer'>
{% block bottom %}

{% endblock %}
</div>
  </div>

</body>
</html>