{% extends 'market_index.html'%}
{%block body%}
    <h2 class="title">电子文档</h2>
    <div class="docs">
    <table class="table table-striped">
    <thead>
    <tr>
        <th>docname</th>
        <th>size</th>
        <th>money</th>
        <th>createtime</th>
    </tr>
    </thead>
    {%for i in '1 2 3 4 5 6 7 8 9 10'%}
    <tbody>
    <tr>
        <td>{{i}}name</td>
        <td>{{i}}size</td>
        <td>{{i}}money</td>
        <td>{{i}}createtime</td>
    </tr>
    {%endfor%}
    </tbody>
    </table>
    </div>
<div class="pageJeep">
    <div class="embed">
       <nav aria-label="...">
    <ul class="pagination">
    {% if page_now == 1 %}
    <li class="disabled">
      <span>
      <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    {%else%}
    <li >
      <span>
      <span aria-hidden="true"><a href="{%url 'goods_index'%}?page={{pre_page}}">&laquo;</a></span>
      </span>
    </li>
    {%endif%}
    {% for i in ranges %}
    {% if i == page_now %}
    <li class="active">
      <span><a href="{%url 'goods_index'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
        <li>
      <span><a href="{%url 'goods_index'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% endif %}
    {%endfor%}
    {% if page_now == page_sum %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%else%}
    <li>
      <a href="{%url 'goods_index'%}?page={{next_page }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%endif%}
  </ul>
</nav>
    </div>

{%endblock%}
{% block side %}
<a class='btn btn-default sidebtn ' href="{% url 'goods_index' %}">校园二手</a>
<a class='btn btn-default sidebtn active' href="{% url 'docs_index' %}">付费文档</a>

<br>
<br>
<br>

<a class='btn btn-info sidebtn' href="{% url 'addgood' %}">添加新商品</a>
{% endblock %}