{% extends 'base.html'%}
{% load static %}

{% block title %}市场 - {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/market_index.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/market.css'%}"/>
    <link rel="stylesheet" href="/merchant/css/magnific-popup.css"/>
    <style type="text/css">
    </style>
{% endblock %}
{% block navbar %}
    <li><a href="{% url 'index' %}">主页</a></li>
    <li class="selected"><a href="{% url 'market_index' %}">商城</a></li>
    <li><a href="{% url 'chat_index' %}">社区</a></li>
    <li><a href="{% url 'share_index' %}">共享文件</a></li>
{% endblock %}
{%block body%}
    <div class="goods">
    <h2 class="title">电子文档</h2>
    {% for good in goods %}
    <a href="{% url 'good_detail' good.id %}">
    <div class = "goodlist" align="center">
        <img src="/static/文档.jpg" style="width: 200px;height: 230px;">
        {{good.name}}
    </div>
    </a>
    {%endfor%}
    </div>
  <div class="pageJeep">
    <div class="embed">
       <nav aria-label="...">
    <ul class="pagination">
    {% if page_now == 1 %}
    <li class="disabled">
      <span>
      <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    {%else%}
    <li >
      <span>
      <span aria-hidden="true"><a href="{%url 'docs_index'%}?page={{pre_page}}">&laquo;</a></span>
      </span>
    </li>
    {%endif%}
    {% for i in ranges %}
    {% if i == page_now %}
    <li class="active">
      <span><a href="{%url 'docs_index'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
        <li>
      <span><a href="{%url 'docs_index'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% endif %}
    {%endfor%}
    {% if page_now == page_sum %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%else%}
    <li>
      <a href="{%url 'docs_index'%}?page={{next_page }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%endif%}
  </ul>
</nav>
    </div>

{%endblock%}
{% block side %}
<div class="owner">
<a class='btn btn-info sidebtn' href="{% url 'goodlist'%}">我的商品</a>
<a class='btn btn-info sidebtn' href="{% url 'ordershow' 0%}">我的订单</a>
</div>
<div class="classify">
<a class='btn btn-default sidebtn ' href="{% url 'goods_index' %}">校园二手</a>
<a class='btn btn-default sidebtn active ' href="{% url 'docs_index' %}">付费文档</a>
</div>
<br>
<div class="add">
<a class='btn btn-info sidebtn' href="{% url 'addgood' 0%}">添加新商品</a>
</div>
{% endblock %}