{% extends 'market_index.html'%}
{% block body %}
    <h2 class="title">二手商品</h2>
    {% for good in goods %}
    <div class = "goodlist" align="center">
        <a href="{% url 'good_detail' good.id %}"><img src="/{{good.image}}" style="width: 200px;height: 230px;"></a>
        <a href="{% url 'good_detail' good.id %}" >{{good.name}}</a>
    </div>
    {%endfor%}
    <div class="pageJeep">
    <div class="embed">
       <nav aria-label="...">
    <ul class="pagination">
    {% if page_now == 1 %}
    <li class="disabled">
      <span>
      <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    {%else%}
    <li >
      <span>
      <span aria-hidden="true"><a href="{%url 'goods_index'%}?page={{pre_page}}">&laquo;</a></span>
      </span>
    </li>
    {%endif%}
    {% for i in ranges %}
    {% if i == page_now %}
    <li class="active">
      <span><a href="{%url 'goods_index'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
        <li>
      <span><a href="{%url 'goods_index'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% endif %}
    {%endfor%}
    {% if page_now == page_sum %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%else%}
    <li>
      <a href="{%url 'goods_index'%}?page={{next_page }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%endif%}
  </ul>
</nav>
    </div>

{% endblock %}
{% block side %}
<a class='btn btn-info sidebtn' href="{% url 'goodlist'%}">我的商品</a>
<a class='btn btn-info sidebtn' href="{% url 'ordershow' 0%}">我的订单</a>
<a class='btn btn-default sidebtn active' href="{% url 'goods_index' %}">校园二手</a>
<a class='btn btn-default sidebtn ' href="{% url 'docs_index' %}">付费文档</a>

<br>
<br>
<br>

<a class='btn btn-info sidebtn' href="{% url 'addgood' 0%}">添加新商品</a>
{% endblock %}