{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/market.css'%}"/>
{% endblock %}
{%block body%}
<h2 class="title">我的商品</h2>
    <div class="order_list">
    {%block order%}
        {%endblock%}
        <div class="order_table" >
            <table class="table table-striped" style="border-top:20px;">
                    {%for i in goods%}
                    <tr>
                        <td style="border:0px;"><img src="/{{i.image}}" style="width: 100px;height: 100px;"></td>
                        <td style="border:0px;"><a href="{%url 'good_detail' i.id%}">{{i.name}}</a></td>
                        <td style="border:0px;">{{i.create_time}}</td>
                        <td style="border:0px;">{{i}}comment</td>
                    </tr>
                    {%endfor%}
            </table>
        </div>
        <div class="pageJeep">
    <div class="embed">
       <nav aria-label="...">
    <ul class="pagination">
    {% if page_now == 1 %}
    <li class="disabled">
      <span>
      <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    {%else%}
    <li >
      <span>
      <span aria-hidden="true"><a href="{%url 'goodlist'%}?page={{pre_page}}">&laquo;</a></span>
      </span>
    </li>
    {%endif%}
    {% for i in ranges %}
    {% if i == page_now %}
    <li class="active">
      <span><a href="{%url 'goodlist'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
        <li>
      <span><a href="{%url 'goodlist'%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% endif %}
    {%endfor%}
    {% if page_now == page_sum %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%else%}
    <li>
      <a href="{%url 'goodlist'%}?page={{next_page }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%endif%}
  </ul>
</nav>
    </div>
    </div>
{%endblock%}