{% extends 'base.html'%}
{% load static %}

{% block title %}市场 - {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/market_index.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/market.css'%}"/>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'index' %}">主页</a></li>
    <li class="selected"><a href="{% url 'market_index' %}">商城</a></li>
    <li><a href="{% url 'chat_index' %}">社区</a></li>
    <li><a href="{% url 'share_index' %}">共享文件</a></li>
{% endblock %}
{% block body %}
    <div class="good_inf">
    <h2 class="title">{{good.name}}</h2>
    <div class="col-xs-6 col-md-4" >
      <img src="/{{good.image}}"  class="img-circle">
    </div>
    <div class="inf">    
    <table class="table table-striped" style="width:100%;">
    <tbody> 
    <tr>
        <td class="alone_inf" style="border:0px;">money:</td>
        <td class="alone_inf" style="border:0px;">{{good.price}}</td>
    </tr>
    <tr>
        <td class="alone_inf" style="border:0px;">发布者:</td>
        <td class="alone_inf" style="border:0px;">{{good.creator.username}}</td>
    </tr>
    <tr>
        <td class="alone_inf" style="border:0px;">已售出次数:</td>
        <td class="alone_inf" style="border:0px;">{{good.sell_times}}</td>
    </tr>
    <tr>
        <td class="alone_inf" style="border:0px;">支付方式:</td>
        <td class="alone_inf" style="border:0px;">{{good.pay_way}}</td>
    </tr>
    <tr>
        <td class="alone_inf"  style="border:0px;">商品信息:</td>
        <td class="desc" style="border:0px;">{{good.info}}</td>
    </tr>
    </tbody>
    </table>
    <a href="{% url 'ordering' good.id %}" class="btn btn-default">购买</a>
    </div>

    </div>
    <div class="comment">
    <h2 class="title" style="width:100%;">评论</h2>
    <div class="panel panel-default"  style="
    position: relative;
    margin: auto;
    overflow: hidden;">
        {%for i in '123456'%}
        <div style="width: 70px;float:left; height: 60px; overflow: hidden;">
        <img  src="/{{good.image}}"  style="width: 50px; float:left; height: 50px;" class="img-circle">
        </div>
            <div style="width:92%;float:left; overflow: hidden; ">
            ID <font size="1">2015-12-03</font>
            </div> 
            <div style="width:92%;float:left;height: 44px;">
                Panel content
            </div>
        {%endfor%}
    </div>
    </div>
{% endblock %}
{% block side %}
<a class='btn btn-default sidebtn active'>校园二手</a>
<a class='btn btn-default sidebtn'>付费文档</a>
<br>
<br>
<br>
{% endblock %}