{% extends 'market_index.html'%}
{%block body%}
    <h2 class="title">添加商品</h2>
  <form role="form">
    <div class="form-group" style="width: 50%">
        <label for="name">商品名称</label>
        <input type="text" class="form-control" name="good_name" placeholder="请输入名称">
    </div>
    <div class="form-group" style ="width: 20%">
        <label for="name">价格</label>
        <input type="text" class="form-control" name="good_name" placeholder="请输入名称">
    </div>
    <div class="form-group" style ="width: 20%"> 
        <label for="name">数量</label>
        <input type="text" class="form-control" id="name" placeholder="请输入名称">
    </div>
    <div class="form-group" style ="width: 20%">
        <label for="name">联系电话</label>
        <input type="text" class="form-control" id="name" placeholder="请输入名称">
    </div>
    <div class="form-group">
        <label for="name">商品信息</label>
        <textarea  style="resize:none;" class="form-control" id="name" placeholder="请输入名称"></textarea>
    </div>
    <div class="form-group dropdown" style="width: 20%">
        <label for="name">选择列表</label>
        <select class="form-control">
        <option>支付宝</option>
        <option>微信</option>
        <option>当面交易</option>
        </select>
    </div>
       <div class="form-group">
        <label for="inputfile">二维码</label><br>
        <input type="file" id="pay_pic" style="display: none;">
        <button onclick="pay_pic_open()">请选择</button>
    </div>
    <div class="checkbox">
    </div>

     <div class="form-group">
        <label for="inputfile">商品图片</label><br>
        <input type="file" id="good_pic" style="display: none;">
        <button onclick="good_pic_open()">请选择</button>
    </div>
    <div class="checkbox">
    </div>
    <div class="form-group">
    <button type="submit" 　type="margin:auto" class="btn btn-default">提交</button>
    </div>
</form>
<script type="text/javascript">
    function pay_pic_open(){
        document.getElementById("pay_pic").click();
    }
    function good_pic_open(){
        document.getElementById("good_pic").click();
    }
</script>
{%endblock%}