{% extends 'market_index.html'%}
{%block body%}
    <div class="add_good">
    <h2 class="title">添加商品</h2>
  <form role="form" action="{%url 'addgood' file%}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="form-group" style="width: 20%">
        <label for="name">商品名称</label>
        <input type="text" required oninvalid="setCustomValidity('请输入商品姓名');"oninput="setCustomValidity('');" class="form-control" name="good_name" value="{{filegood.file_name}}" >
    </div>
    <div class="form-group" style ="width: 20%">
        <label for="name">价格</label>
        <input type="numbe" onchange="if(/\D/.test(this.value)){alert('请输入正确的价格');this.value='';}"
         required="requi  red" class="form-control" name="price" required="required" placeholder="请输入商品价格">
    </div>
    <div class="form-group dropdown" style="width: 20%">
        <label for="name">选择列表</label>
        <select class="form-control" name="pay_way">
        <option value="0">支付宝</option>
        <option value="1">微信</option>
        <option value="2">当面交易</option>
        </select>
    </div>
    <div class="form-group">
        <span>二维码</span><br>
        <input type="file" maxlength="20" name="pay_pic" />
    </div>
    <div class="checkbox">
    </div>

     <div class="form-group">
         <div class="indiv">
             <span>商品图片</span><br><input type="file" name="good_pic" maxlength="20"  　required oninvalid="setCustomValidity('请上传商品图片');" oninput="setCustomValidity('');"/>
        </div> 
    </div>
    <div class="form-group">
        <label for="name">商品信息</label>
        <textarea  required oninvalid="setCustomValidity('请对商品进行描述');" oninput="setCustomValidity('');"style="resize:none;" class="form-control" name="good_inf" placeholder="请输入商品信息"></textarea>
    </div>
    <div class="form-group">
    <button type="submit" 　type="margin:auto" class="btn btn-default">提交</button>
    </div>
</form>
</div>
<script type="text/javascript">
    
</script>
{%endblock%}
{% block side %}
<a class='btn btn-info sidebtn' href="{% url 'goodlist'%}">我的商品</a>
<a class='btn btn-info sidebtn' href="{% url 'ordershow' 0%}">我的订单</a>
<a class='btn btn-default sidebtn ' href="{% url 'goods_index' %}">校园二手</a>
<a class='btn btn-default sidebtn ' href="{% url 'docs_index' %}">付费文档</a>

<br>
<br>
<br>

<a class='btn btn-info sidebtn' href="{% url 'addgood' 0%}">添加新商品</a>
{% endblock %}