 {% extends 'base.html' %}

{% load static %}

{% block title %}订单 - {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/market_index.css'%}"/>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'index' %}">主页</a></li>
    <li class="selected"><a href="{% url 'market_index' %}">商城</a></li>
    <li><a href="{% url 'chat_index' %}">社区</a></li>
    <li><a href="{% url 'share_index' %}">资源共享</a></li>
{% endblock %}


{% block body %}

<div class="panel panel-info">
  <div class="panel-heading row" >
    <div class="col-md-2">
    <span>卖家</span>
    <span>{{good.creator.username}}</span>
    </div>
    <div class="col-md-2">
    <span>交易次数</span>
    <span>{{good.creator.trade_count}}</span>
    </div>
    <div class="col-md-2">
    <span>好评度</span>
    <span>{{good.creator.degree_good}}%</span>
    </div>
    <div class="col-md-2">
    <span>评价数</span>
    <span>+{{good.creator.good_mark}}</span>
    <span> /</span>
    <span>-{{good.creator.bad_mark}}</span>
    </div>
  </div>
<div class="panel-body">
    <table class="table table-striped">

    <tr>
        <td>金额</td>
        <td>{{ good.price }}</td>
    </tr>
    <tr>
        <td>支付方式</td>
        <td>支付宝</td>
    </tr>
    </table>
  </div>
</div>
<div class="panel panel-default">
<div class="panel-body">
<p>1. 交易发起前，请您确认已阅读并同意卖家提出的条款，并再次确认交易内容无误后，再点击购买按钮。</p>
<p>2. 交易发起后，请您于付款期限截止前转帐至指定账户，并标记已付款完毕，逾期系统将自动取消交易。</p>
<p>3. 建议您在交易前先查看卖家信息，检视相关交易记录及评价，以減少交易纠纷。</p>
<p>4. 交易过程请使用平台的聊天系统进行沟通，平台外的对话记录将无法作为交易纠纷的依据。</p>
<p>5. 温馨提示：超过三笔取消订单，将被冻结当天下单权限。</p>
</div>
</div>
{%if not order%}
<form action="{% url 'add_order' good.id %}" method="POST"> 
{% csrf_token %}
<input type="checkbox" id="confirm-buy" name="confirm-buy">
<label for="confirm-buy" class="text-muted" >我已经阅读并确认以上交易信息</label>
<input class="btn btn-default" type="submit" value="立即购买">
</form>
{%elif status == 0%}
  <form action="{% url 'ordering' good.id %}" method="POST"> 
  {% csrf_token %}
  <input class="btn btn-default" type="submit" value="去付款">
  </form>
{%elif comment_status == 1 %}
   <div style="width: 70px;float:left; height: 60px; overflow: hidden;">
            {%if user.image%}
            <img  src="/{{user.image}}"  style="width: 50px; float:left; height: 50px;" class="img-circle">
            {%else%}
            <img  src="/static/upload/默认头像.jpg"  style="width: 50px; float:left; height: 50px;" class="img-circle">
            {%endif%}
            </div>
            <div style="width:92%;float:left; overflow: hidden; ">
             {{user.username}}<font size="1">{{goodremark.create_time}}</font>
            </div> 
            <div style="width:92%;float:left;height: 44px;">
            {{goodremark.content}}
            </div>
            <a href="{% url　'goods_index'%}" class="btn btn-default">返回商品主页</a>
{%elif status == 2 and isfile == 0%}
  <h2 class="title" style="width:100%;">发表评价</h2>
<form action="{% url 'comment' good.id %}" method="POST" enctype="multipart/form-data"> 
{% csrf_token %}
<div class="panel panel-default"  style="
    position: relative;
    margin: auto;
    overflow: hidden;">
        <div style="width: 70px;float:left; height: 60px; overflow: hidden;">
        <img  src="/{{good.image}}"  style="width: 50px; float:left; height: 50px;" class="img-circle">
        </div>
            <div style="width:86%;float:left; overflow: hidden; ">
              <textarea  style="resize:none;" class="form-control" name="content" placeholder="发表您的评论"></textarea>
            </div> 
            <div style="width:92%;float:left;height: 44px;">
              <label class="radio-inline">
              <input type="radio" name="remark" id="type1" value="0" checked="true"> 好评
              </label>
              <label class="radio-inline">
              <input type="radio" name="remark" id="type2" value="1"> 差评
              </label>
              　　<input style="float: right;" type="submit" name="" value="提交论评">
            </div>
    </div>
</form>
{%endif%}





{% endblock %}

{% block side-search %}
    <div class="spacer">
        <form action="#" id="search">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="搜索">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div> 
{% endblock %}


{% block side %}
<!--<a class='btn btn-default sidebtn active'>等待付款中</a>-->
<!--<a class='btn btn-default sidebtn'>付费文档</a>-->

<br>
<br>
<br>

<a class='btn btn-warning sidebtn'>返回</a>
{% endblock %}
{% block side %}
<a class='btn btn-info sidebtn' href="{% url 'goodlist'%}">我的商品</a>
<a class='btn btn-info sidebtn' href="{% url 'ordershow' 0%}">我的订单</a>
<a class='btn btn-default sidebtn ' href="{% url 'goods_index' %}">校园二手</a>
<a class='btn btn-default sidebtn ' href="{% url 'docs_index' %}">付费文档</a>

<br>
<br>
<br>

<a class='btn btn-info sidebtn' href="{% url 'addgood' 0%}">添加新商品</a>
{% endblock %}
