{% extends 'base.html' %}

{% load static %}

{% block title %}市场 - {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/market_index.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/market.css'%}"/>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'index' %}">热门</a></li>
    <li class="selected"><a href="{% url 'market_index' %}">市场</a></li>
    <li><a href="#">讨论</a></li>
    <li><a href="#">网盘</a></li>
{% endblock %}
{%block body%}
<h2 class="title">我的订单</h2>
    <div class="order_list">
    {%block order%}
    <div>
    <ul class="ordermenu">
        <a class="ordera" href="{%url 'ordershow' 0%}">
        {%if orderstate == "0" %}
        <div class="order_selected">
        {%else%}
        <div class="orderli">
        {%endif%}
        <div class="order-style">
            <li style="width: 42%;margin: auto;">未付款</li>
        </div>
        </div>
        </a>
        <form>
        <a class="ordera" href="{%url 'ordershow' 1%}">
         {%if orderstate == "1"%}
        <div class="order_selected">
        {%else%}
        <div class="orderli">
        {%endif%}
        <div class="order-style">
            <li >待确认</li>
        </div>
        </div>
        </a>
        <a class="ordera" href="{%url 'ordershow' 2%}">
         {%if orderstate == "2"%}
        <div class="order_selected">
        {%else%}
        <div class="orderli">
        {%endif%}
        <div class="order-style">    
            <li>已完成</li>
        </div>
        </div>
        </a>
          <a class="ordera" href="{%url 'ordershow' 3%}">
         {%if orderstate == "3"%}
        <div class="order_selected">
        {%else%}
        <div class="orderli">
        {%endif%}
        <div class="order-style">    
            <li>投诉中</li>
        </div>
        </div>
        </a>
        <a class="ordera" href="{%url 'ordershow' 4%}">
        {%if orderstate == "4"%}
        <div class="order_selected">
        {%else%}
        <div class="orderli">
        {%endif%}
            <div class="order-style">
            <li>已取消</li>
            </div>
            </div>
        </a>
        </ul>
        </div>
        {%endblock%}
        <div class="order_table" >
            <table class="table table-striped" style="border-top:20px;">
                    {%for i in order_list%}
                    <tr>
                        <td style="border:0px;"><img class="img-circle" src="/{{i.good.image}}" style="width: 100px;height: 100px;"></td>
                        <td style="border:0px;"><a href="{%url 'ordering' i.good.id%}">{{i.good.name}}</a></td>
                        <td style="border:0px;">{{i.create_time}}</td>
                        <td style="border:0px;">{{i.status}}</td>
                        <td style="border:0px;">{{i}}comment</td>
                    </tr>
                    {%endfor%}
            </table>
        </div>
       <div class="pageJeep">
    <div class="embed">
       <nav aria-label="...">
    <ul class="pagination">
    {% if page_now == 1 %}
    <li class="disabled">
      <span>
      <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    {%else%}
    <li >
      <span>
      <span aria-hidden="true"><a href="{%url 'ordershow' status%}?page={{pre_page}}">&laquo;</a></span>
      </span>
    </li>
    {%endif%}
    {% for i in ranges %}
    {% if i == page_now %}
    <li class="active">
      <span><a href="{%url 'ordershow' status%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% else %}
        <li>
      <span><a href="{%url 'ordershow' status%}?page={{i}}">{{i}}</a> <span class="sr-only">(current)</span></span>
    </li>
    {% endif %}
    {%endfor%}
    {% if page_now == page_sum %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%else%}
    <li>
      <a href="{%url 'ordershow' status%}?page={{next_page }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%endif%}
  </ul>
</nav>
    </div>
    </div>
    </div>
{%endblock%}
{% block side %}
<a class='btn btn-info sidebtn' href="{% url 'goodlist'%}">我的商品</a>
<a class='btn btn-info sidebtn' href="{% url 'ordershow' 0%}">我的订单</a>
<a class='btn btn-default sidebtn ' href="{% url 'goods_index' %}">校园二手</a>
<a class='btn btn-default sidebtn ' href="{% url 'docs_index' %}">付费文档</a>

<br>
<br>
<br>

<a class='btn btn-info sidebtn' href="{% url 'addgood' 0%}">添加新商品</a>
{% endblock %}